<div class="col-xs-3">
<% flash.each do |message_type, message| %>
<%= message %>
<% end %>

<% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
	<h1>User info</h1>
	<%= attachment_image_tag @user, :profile_image, size: "90x90", format: "jpeg", class: "profile-thumb", fallback: "no_image.jpg" %>
	<table class="table">
		<tr>
			<th width=100%>name</th>
			<th><%= @user.name %></th>
		</tr>
		<tr>
			<th>introduction</th>
			<th><%= @user.introduction %></th>
		</tr>
	</table>
	<%= link_to edit_user_path(@user.id) do %>
	<span class="glyphicon glyphicon-wrench btn btn-default btn-block sidebtn"></span>
	<% end %>
	<h2>New book</h2>
	<%= form_for(book) do |f| %>
	<h4>Title</h4>
	<%= f.text_field :title,class: "submit" %>
	<h4>Opinion</h4>
	<%= f.text_area :body, class: "submit" %>
	<%= f.submit "Create Book", class: "btn btn-primary submit2" %>	
	<% end %>
</div>