<div class="row">
<%= render "users/sidebar", book: @book %>
<div class="col-xs-9">
	<h1>Books</h1>
	<table class="table table-hover">
		<thead>
		<tr class="table-borderless">
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
		</thead>
		<tbody>
		<% @books.each do |b| %>
		<tr>
			<th><%= link_to user_path(@user.id) do %>
				<%= attachment_image_tag @user, :profile_image, size: "25x25",fallback: "no_image.jpg" %>
				<% end %></th>
			<th><%= link_to book_path(b.id) do%>
				<%= b.title %>
			</th>
			<% end %>
			<th><%= b.body %></th>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>
</div>
