<div class="row">
<%= render "users/sidebar", book: @book_new %>

<div class="col-xs-9">
	<h1>Book detail</h1>
	<table class="table">
	  <tr>
		<th><%= link_to user_path(@user.id) do %>
			<%= attachment_image_tag @user, :profile_image, size: "30x30", fallback: "no_image.jpg" %>
			<br>
			<%= @book.user.name %>
		</th>
		    <% end %>
		<th>
			<%= link_to book_path(@book.id) do %>
			<%= @book.title %>
		</th>
		    <% end %>
		<th><%= @book.body %></th>
		<% if @book.user_id == current_user.id %>
		<th><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></th>
		<th><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger", method: :delete, data: {confirm:"本当に消去しますか？"} %></th>
		<% end %>
	  </tr>
	  </table> 
</div>

